@use '../../styles/variables' as v;

.App {
  text-align: center;
  margin: 20 auto;

  &-logo {
    height: 10vmin;
    margin: 0 auto;
    pointer-events: none;
  }

  &-header {
    background-color: v.$color-bg;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: v.$color;
  }

  &-link {
    color: v.$color-primary;
  }
}
